/* Basic resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the navigation bar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #041f95 ;
    padding: 30px 0;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* Change style when hovering over menu items */
nav ul li a:hover {
    background-color: #555;
    color: #fff;
    border-radius: 5px;
}

/* Content styling */
#content {
    padding-top: 80px; /* Prevent content from being hidden under the navbar */
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
}

section:nth-child(odd) {
    background-color: #e0e0e0;
}

/* Scrolling effects */
.scrolled {
    background-color: #222 !important;
}
